:root {
  --font-body: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: "Fira Mono", monospace;
  --color-theme-1: #f5f4f2;
  --color-theme-2: #007030;
  --color-theme-3: #fee11a;
  --color-dark-background: #222222;
  --color-uo-white: #f5f4f2;
  --color-uo-green: #007030;
  --color-uo-green-darker: #104735;
  --color-uo-yellow: #fee11a;
  --color-uo-black: #000000;
  --color-uo-grey: #a2aaad;
  --color-text: var(--color-uo-white);
  font-family: var(--font-body);
  color: var(--color-text);
}

* {
  color: var(--color-uo-white);
  font-family: "Source Sans 3", sans-serif;
}

.canvas {
  background-color: var(--color-uo-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

header {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    0deg,
    var(--color-uo-green) 25%,
    var(--color-uo-green-darker) 135%
  );
  width: 100%;
  height: 80px;
  min-height: 60px;
}

.app-header,
.app-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.app-header {
  justify-content: space-between;
}

.app-content {
  background-color: var(--color-dark-background);
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: start;
  overflow-y: scroll;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navitem {
  margin: 1rem;
  font-size: 1.2rem;
  padding-right: 1rem;
}

.logo {
  margin: 1rem;
  height: 50px;
}

.navitem {
  margin: 1rem;
}

.app-form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form-options {
  width: 360px;
}

.form-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--color-text);
}

h1,
h2,
h3 {
  color: var(--color-uo-yellow);
}

textarea {
  background-color: var(--color-dark-background);
  color: var(--color-uo-white);
  font-family: "Roboto Mono", monospace;
  outline: none;
  border-radius: 4px;
  padding: 4px 4px;
  box-sizing: border-box;
  border: 1px solid var(--color-uo-grey);
}

textarea:focus {
  border: 1px solid var(--color-uo-green);
}

select {
  background-color: var(--color-dark-background);
  color: var(--color-uo-white);
  outline: none;
  padding: 4px 4px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid var(--color-uo-grey);
}
input[type="select"]:focus {
  border: 1px solid var(--color-uo-green);
}

option {
  color: var(--color-uo-white);
}

input {
  background-color: var(--color-dark-background);
  color: var(--color-uo-white);
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--color-uo-grey);
  padding: 4px 4px;
  box-sizing: border-box;
}

input[type="password"]:focus {
  border: 1px solid var(--color-uo-green);
}

input[type="submit"] {
  cursor: pointer;
  padding: 8px 8px;
  margin: 20px;
  width: 120px;
}

a {
  color: var(--color-uo-white);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#logo-image {
  height: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.summary {
  padding: 2rem;
  width: 400px;
}
