<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Sans+3&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="canvas">
      <header>
        <div class="app-header">
          <nav>
            <span class="navitem"><a href="/">home</a></span>
            <span class="navitem"><a href="/about">about</a></span>
            <span class="navitem"
              ><a
                target="_blank"
                rel="noopener"
                href="https://github.com/lcrownover/duckpaste"
                >source</a
              ></span
            >
          </nav>
          <div class="logo">
            <a target="_blank" rel="noopener" href="https://uoregon.edu"
              ><img src="/static/images/uo-logo.png" id="logo-image"
            /></a>
          </div>
        </div>
      </header>
      <div class="app-content">
        <div class="summary">
          <h2>About this App</h2>
          <p>
            This application is intended to be the de-facto tool to send people
            links to pastes of code, logs, passwords, etc.
          </p>
          <p>
            It's written in Go and uses Azure Cosmos DB for data storage. All
            components are hosted in Azure by UO, and there is no sharing of
            data of any kind. It does not log any information about users or
            paste content.
          </p>
          <p>Credits:</p>
          <ul>
            <li>Lucas Crownover</li>
            <li>Patrick Mollman</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
