<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Sans+3&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="canvas">
      <header>
        <div class="app-header">
          <nav>
            <span class="navitem"><a href="/">home</a></span>
            <span class="navitem"><a href="/about">about</a></span>
            <span class="navitem"
              ><a href="https://github.com/lcrownover/duckpaste"
                >source</a
              ></span
            >
          </nav>
          <div class="logo">
            <a href="https://uoregon.edu"
              ><img src="/static/images/uo-logo.png" id="logo-image"
            /></a>
          </div>
        </div>
      </header>
      <div class="app-content">
        <div class="app-form">
          <form action="/api/paste" method="post">
            <div class="form-input">
              <textarea
                name="pasteContent"
                class="pasteContent"
                id="pasteContent"
                wrap="off"
                cols="80"
                rows="20"
              ></textarea>
            </div>
            <div class="form-options">
              <h3>paste settings</h3>
              <div class="form-option">
                <label for="pasteExpirationHours">expiration:</label>
                <select name="pasteExpirationHours" id="pasteExpirationHours">
                  <option value="1">1 hour</option>
                  <option value="8">8 hours</option>
                  <option value="24">24 hours</option>
                  <option value="48">48 hours</option>
                  <option value="168">1 week</option>
                </select>
              </div>
              <div class="form-option">
                <label for="pastePassword">password [optional]:</label>
                <input
                  type="password"
                  name="pastePassword"
                  id="pastePassword"
                />
              </div>
              <div class="form-submit">
                <input type="submit" id="pasteCreate" value="Create" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
