<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Sans+3&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="canvas">
      <header>
        <div class="app-header">
          <nav>
            <span class="navitem"><a href="/">home</a></span>
            <span class="navitem"><a href="/about">about</a></span>
            <span class="navitem"
              ><a href="https://github.com/lcrownover/duckpaste"
                >source</a
              ></span
            >
          </nav>
          <div class="logo">
            <a href="https://uoregon.edu"
              ><img src="/static/images/uo-logo.png" id="logo-image"
            /></a>
          </div>
        </div>
      </header>
      <div class="app-content">
        <div class="pasteDisplay">
          <div class="pasteURL">
            <button class="copyURLButton" onclick="copyText('urlString')">
              Copy
            </button>
            <h3 id="urlString">{{ .pasteURL }}</h3>
          </div>
          <div class="copyPasteButtonContainer">
            <button class="copyPasteButton" onclick="copyText('pasteString')">
              Copy
            </button>
          </div>
          <div class="pasteBlock">
            <pre id="pasteString"><code>{{ .pasteContent }}</code></pre>
          </div>
        </div>
      </div>
    </div>
    <script>
      function copyText(id) {
        // Get the text field
        var copyText = document.getElementById(id).innerText;

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText).then(
          function () {
            console.log("Async: Copying to clipboard was successful!");
          },
          function (err) {
            console.error("Async: Could not copy text: ", err);
          }
        );
      }
    </script>
  </body>
</html>
